html, body {
	width: 100%;
	height: 100vh;

	overflow: hidden;
}

body {
	font-family: sans-serif;
	line-height: 1.2;
	color: hsl(0, 0%, 70%);
	background: linear-gradient(#000, rgb(8, 8, 51));
}

#canvas-wrap {
	position: relative;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
#canvas-wrap canvas {
	position: relative;
}

#config-wrap {
	position: absolute;
	left: 0;
	bottom: 0;

	display: block;
	width: 100%;

	color: #ccc;
}

#config-content {
	padding: 1.5rem 1rem;

	background: #030303;
	border-top: 1px solid #9c9c9c;

	opacity: 0;
	translate: 0 100%;
	transition: opacity .6s, translate .6s;
}

#config-content.visible {
	opacity: 1;
	translate: 0;
}

#config-available {
	position: absolute;
	left: .5rem;
	bottom: .5rem;

	display: flex;
}

#config-button {
	position: absolute;
	right: .5rem;
	bottom: .5rem;

	display: block;
	width: 2.5rem;

	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	line-height: 3rem;
	color: #ccc;
	cursor: pointer;
}

.config-part {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin: 0 0 1.5rem;
}

[type=range] {
	position: relative;
	margin: 0;
	padding: .25rem;

	background: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: inherit;
	text-decoration: none;
	text-align: center;
	line-height: 1;

	outline: none;
	border: none;
}

/* [type=range], */
/* [type=range]::-webkit-slider-runnable-track,
[type=range]::-moz-range-track {
	height: 2rem;
	border-radius: .375rem;
	overflow: hidden;
} */
#color-picker {
	background: linear-gradient(90deg, red 0%, yellow 16.66%, green 33.33%, cyan 49.99%, blue 66.66%, purple 83.32%, red 100%);
	border-radius: .375rem;
	border: 1px solid #9c9c9c;
}
#color-picker.disabled {
	background: #666;
}

